<section id="slider" class="fullheight" style="background-image: url(<%= path_to_image('harold.jpg') %>); height: 700px">
    <div class="overlay dark-5"><!-- dark overlay [0 to 9 opacity] --></div>

    <div class="display-table">
        <div class="display-table-cell vertical-align-middle">
            <div class="container">

                <div class="slider-featured-text text-center">
                    <h1 class="text-white wow fadeIn animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                        404
                    </h1>
                    <br>
                    <h1 class="text-white wow fadeIn animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                        PAGE NOT FOUND
                    </h1>
                    <br>
                    <a class="btn btn-primary btn-lg wow fadeIn animated" data-wow-delay="1s" href="index.html" style="visibility: visible; animation-delay: 1s; animation-name: fadeIn;">GO BACK</a>
                </div>

            </div>
        </div>
    </div>
</section>